<h2 style="font-weight: 700;" class="m-3" color="primary">Información del doctor</h2>
<mat-card class="m-3">
  <mat-card-title>
    {{doctorObj?.name}}
  </mat-card-title>
  <mat-card-subtitle>
    {{doctorObj?.qualification}}
  </mat-card-subtitle>
  <mat-divider></mat-divider>

    <div class="row pt-3">
      <div class="col-md-6">
        <mat-card-content>
          <span> Email : </span> {{doctorObj.email}} <br>
        <span> Teléfono : </span> {{doctorObj.mobile}} <br>

        </mat-card-content>
      </div>
      <div class="col-md-6">
       <mat-card-content>
        <span> Género : </span> {{doctorObj.gender}} <br>
        <span> Departamento : </span> {{doctorObj.department}}
       </mat-card-content>
      </div>
    </div>
</mat-card>

<div class="m-3">
   <!---Patient TABLA-->
 <h2 style="font-weight: 700;" class="mt-4" color="primary">Información Paciente</h2>
 <mat-form-field >
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ej. Mia" #input>
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- Nombre Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let row"> {{row.patient_name}} </td>
      </ng-container>
  
      <!-- Telefono Column -->
      <ng-container matColumnDef="mobile">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </th>
        <td mat-cell *matCellDef="let row">+593 {{row.mobile}} </td>
      </ng-container>
  

      <!-- Genero Column -->
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Género </th>
        <td mat-cell *matCellDef="let row"> {{row.gender}} </td>
      </ng-container>

      <ng-container matColumnDef="prescription">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Sangre </th>
        <td mat-cell *matCellDef="let row"> {{row.prescription}} </td>
      </ng-container>

       <!-- OPcion Column -->
       <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Opción </th>
        <td mat-cell *matCellDef="let row"> 
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="viewPatient(row)">
                  <mat-icon>abrir en nuevo</mat-icon>
                  <span>Ver </span>
                </button>
                <button mat-menu-item (click)="editPatient(row)">
                  <mat-icon>Editar</mat-icon>
                  <span>Editar</span>
                </button>
              </mat-menu>
              
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- Fila que se muestra cuando no hay datos  coincidentes. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No hay datos que coincidan con el filtro "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>